#no-landscape {
  position: fixed;
  top: 0;
  z-index: 98;
  width: 100vw;
  height: 100vh;
  background-color: var(--yellow);
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  top: 0;
}
@media screen and (orientation: landscape) {
  #no-landscape {
    display: flex;
  }
}
